:root {
    --main-black: #181717;
    --main-white: #F3F3F3;
    --main-gray: #606060;
    --secondary: #FDC435; 
    --heading-font: 'DM Sans',
    sans-serif;
    --body-font: 'Inter',
    sans-serif;
    --button-shadow: text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Inter',
sans-serif;
font-weight: 400;

}